* {
    box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
      }
    
    body {
    min-width: 850px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: black;
    max-width: 40%;
    }
  
    .header {
    padding: 50px;
    text-align: right;
    }
    
    .menu-link {
    position: relative;
    display: flex;
    justify-content: right;
    gap: 35px;
    padding-bottom: 3%;
    }
  
    .link1 {
    float: left;
    width:86px;
    max-width: 86px;
    margin-right: 80%;
    display: block;
    }
  
    .logopic {
    display: inline-block;
    width: 100%;
    padding-left: 5%;
    padding-right: 6%;
    margin-top: -5%;
    }

    .text {
        font-family: Inter, Arial, sans-serif;
        font-size: 18px;
        color: #ffffff;
        line-height: 32px;
        margin-top: 30px;
        }
      
        .att {
      
        float: left;
        padding-left: 5%;
      
        }
      
        .date {
      
        float: right;
        padding-right: 5%;
      
        }
      
        .text2 {
        font-family: Inter, Arial, sans-serif;
        font-size: 18px;
        color: #ffffff;
        line-height: 32px;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
        }
      
        .text3 {
      
        background-color: yellow;
        min-width: 850px;
        margin: 0;
        font-family: Inter, Arial, sans-serif;
        font-size: 18px;
        line-height: 32px;
        color: black;
        max-width: 40%;
        padding-left: 5%;
        padding-right: 5%;
        display: inline-block;
        padding-top: 5%;
        padding-bottom: 1%;
      
        }
      
        .abc {
      
        float: right;
        font-size: 32px;
        line-height: 32px;
        font-family: Inter, Arial, sans-serif;
      
        }
      
        .cba {
      
        float: left;
        font-size: 32px;
        line-height: 32px;
        font-family: Inter, Arial, sans-serif;
      
        }
      
        .bca {
        font-family: Inter, Arial, sans-serif;
        font-size: 18px;
        color: #000000;
        line-height: 32px;
        padding-top: 1%;
        display: inline-block;
        }