  .menu-link {
  position: relative;
  display: flex;
  gap: 35px;
  padding-bottom: 3%;
  bottom: 7px;
  left: -15px;
  width: 6px;
  height: 6px;
  float: right;
  }

  .link1 {
  float: left;
  width:86px;
  display: block;
  max-width: 86px;
  margin-right: 80%;
  }