* {
    box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
      }
    
    body {
    min-width: 850px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: black;
    max-width: 40%;
    }
  
    .header {
    padding: 50px;
    text-align: right;
    }
    
    .menu-link {
    position: relative;
    display: flex;
    justify-content: right;
    gap: 35px;
    padding-bottom: 3%;
    }
  
    .link1 {
    float: left;
    width:86px;
    max-width: 86px;
    margin-right: 80%;
    display: block;
    }
  
    .logopic {
    display: inline-block;
    width: 100%;
    padding-left: 5%;
    padding-right: 6%;
    margin-top: -5%;
    }